In [24]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [43]:
dataset = pd.read_csv('pima-indians-diabetes.csv')
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

dataset.replace(0,np.nan, inplace = True)
dataset.isnull().sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [44]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer( missing_values = np.nan , strategy = 'mean' )


imputer.fit(X[:,:-1])
X[:,:-1]=imputer.transform( X[:,:-1] )

In [48]:
print(X)

[[  6.    148.     72.    ...  33.6     0.627  50.   ]
 [  1.     85.     66.    ...  26.6     0.351  31.   ]
 [  8.    183.     64.    ...  23.3     0.672  32.   ]
 ...
 [  5.    121.     72.    ...  26.2     0.245  30.   ]
 [  1.    126.     60.    ...  30.1     0.349  47.   ]
 [  1.     93.     70.    ...  30.4     0.315  23.   ]]

In [27]:

dataset.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1

In [39]:
(dataset==0).sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [ ]:
cols = dataset.columns.tolist()

[ x for x in  cols  if x != 'Outcome' ]

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [62]:
import pandas as pd
import matplotlib.pyplot as pt 
from sklearn.impute import SimpleImputer
import numpy as np


dataset=pd.read_csv('pima-indians-diabetes.csv')
X = dataset.iloc[:,:-1].values 
y = dataset.iloc[:,-1].values

print(dataset.replace(0,np.nan).isnull().sum())

new_dataset = dataset.replace(0,np.nan)
imputer = SimpleImputer( missing_values=np.nan, strategy = 'mean'  )
imputer.fit(X[:,:-1])
X[:,:-1] =  imputer.transform(X[:,:-1])


print(X)

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64
[[  6.    148.     72.    ...  33.6     0.627  50.   ]
 [  1.     85.     66.    ...  26.6     0.351  31.   ]
 [  8.    183.     64.    ...  23.3     0.672  32.   ]
 ...
 [  5.    121.     72.    ...  26.2     0.245  30.   ]
 [  1.    126.     60.    ...  30.1     0.349  47.   ]
 [  1.     93.     70.    ...  30.4     0.315  23.   ]]